@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/*=====  style  =====*/
body {
    margin: 0;
    background-image: url("../img/indeximg/logan-weaver-b76PEyeIptQ-unsplash.jpg");
	font-family: 'Noto Sans JP', sans-serif;
	color: #ffffff;
}

#background_color {
    background-color: rgba(0, 0, 0, 0.5);
}

#header {
	margin: 10px 20px;
	background-color: rgba(255, 255, 255,0.3);
	color: #ffffff;
}

#title {
	color: #ffffff;
	font-size: 30px;
	margin: 0;
	font-weight: 800;
	text-shadow: 1px 2px #a6a6a6;
}

#menu {
    float: left;
    margin-top: 10px;
}

#menu a{
	
	margin-left: 20px;
	text-decoration-line: none;
	color: #ffffff;
	text-shadow: 1px 2px #a6a6a6;
}

#content {
	clear: both;
	margin: 10px 20px;
    background-color: rgba(255, 255, 255,0.3);
	color: #ffffff;
	width: auto;
}

#mapcontainer {
    border: 2px solid #a6a6a6;
    margin-top: 50px;
}

/*=====  animation  =====*/
@keyframes fadeIn-Out {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}
}
/*=====  animation  =====*/

#coffee-cup-img img {
	/*float: left;*/
	margin-top: 75px;
	width: 100%;
	height: 100%;
	color: #ffffff;
}

#textarea {
	font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
	color: #ffffff;
	font-size: 18px;
	margin-top: 25%;
	margin-left: -30px;
	width: auto;
	height: auto;
}

#namearea {
	float: left;
	font-size: 70px;
}

#photograph img {
	float: left;
	margin-left: 20px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	width: 100px;
	height: 100px;
}

textarea {
    resize: none;
    width:100px;
    height:20px;
}

#textarea p{
	margin-top: 150px;
	clear: both;
	font-weight: 500;
	text-shadow: 1px 2px #000000;
}

#kcal {
    padding-bottom: 10px;
}

#distance {
    padding-bottom: 10px;
}

#mienai{
    
}
/*=====  style  =====*/


/*=====  grid  =====*/

#background_color {
    display: grid;
	grid-template-columns: minmax(20px,1fr) minmax(auto,450px) minmax(auto,100px) minmax(auto,450px) minmax(20px,1fr);
}


#header {
	grid-column-start: 2;
	grid-column-end: -2;
	grid-row-start: 1;
	display: grid;
	grid-template-columns: minmax(auto,450px) minmax(auto,100px) minmax(auto,450px);
}

#title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
}

#menu {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
}

#underline {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
}

#background_img {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
}

#content {
	grid-column-start: 2;
	grid-column-end: -2;
    grid-row-start: 3;
	display: grid;
	grid-template-columns: minmax(auto,100px) minmax(auto,450px) minmax(auto,100px) minmax(auto,450px) minmax(auto,100px) ;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

#welcome{
    grid-column-start: 2;
	grid-column-end: -2;
    grid-row-start: 1;
}

#map_textarea{
    grid-column-start: 2;
    grid-column-end: -2;
	grid-row-start: 2;
}

#weight_textarea {
    grid-column-start: 2;
	grid-column-end: -2;
	grid-row-start: 3;
}

#mapcontainer {
    grid-column-start: 2;
    grid-column-end: -2;
	grid-row-start: 4;
}

#next_button {
	grid-column-start: 2;
	grid-column-end: -2;
	grid-row-start: 5;
}

#kcal {
    grid-column-start: 2;
	grid-column-end: -2;
	grid-row-start: 6;
}

#distance {
    grid-column-start: 2;
	grid-column-end: -2;
	grid-row-start: 7;
}

#call_course {
    grid-column-start: 2;
	grid-column-end: -2;
	grid-row-start: 8;
}




/*=====  grid  =====*/